@import url('font-awesome.css');

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/Awesome/fontawesome-webfont.eot?v=4.3.0');
    src: 
        url('../font/Awesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
        url('../font/Awesome/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
        url('../font/Awesome/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
        url('../font/Awesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
        url('../font/Awesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-style: normal; font-weight: normal;
}

/* Reset
==============================
 */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, cite, em, img, q, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, svg, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0; padding: 0;
    background: transparent;
    border: 0;
    vertical-align: baseline; font-size: 100%; outline: 0;
}

/* for IE>9 header, footer, aside, nav, section, article, details, svg, figure, figcaption ... */
header, footer, aside, nav, section, article, svg, canvas, figure, figcaption {display: block;}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:hover, a {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

/* base elements
 */
body {
  min-width: 320px; width: 100%;
  background-color: #120e0f;
  overflow-x: hidden; overflow-y: auto;
  font-size: 16px; font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

a {
    margin: 0; padding: 0;
    font-size: 100%; font-weight: 600; text-decoration: underline;
    outline: 0;
}
a:hover, a:active {text-decoration: none;}

h1, h2, h3, h4, h5, h6 {
    margin: 7px 0;
    text-rendering: optimizeLegibility; font-family: 'Poiret One', cursive;
}

h1 {font-size: 400%;}
h2 {font-size: 350%;}
h2, .wrap-doc h3 {text-transform: uppercase;}
.wrap > section:not(.wrap-services):not(.wrap-doc) h3 {padding-bottom: 20px;}
.wrap > section.wrap-services > h3 {padding-top: 50px;}
.wrap > section:not(.wrap-doc) > h3 {font-size: 300%;}
.wrap-doc h3 {font-size: 250%; font-weight: 600;}
h4 {font-size: 150%; text-transform: lowercase;}

p {
    margin: 11px 0;
    font-size: 150%; line-height: 150%;
}

ul {list-style: none;}

ol {
    list-style-type: none;
    counter-reset: item;
    padding-bottom: 10px;
}
ol li:before {
    content: counter(item) ') ';
    counter-increment: item;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, img {vertical-align: middle;}

img {max-width: 100%;}

input[type=submit], input[type=button], input[type=reset], button, input[type=text], input[type=email], input[type=url], input[type=password], textarea, select, input[type=radio] {outline: none;}

input, select, input[type=radio] {vertical-align: middle;}

input[type=submit], input[type=button], input[type=reset], button {
    position: relative;
    display: inline-block;
    text-transform: uppercase; font-family: 'Poiret One', cursive; font-size: 150%; font-weight: 600;
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

input[type=submit], input[type=button], input[type=reset], button:not(.btn) {
    max-width: 300px; height: 60px;
    padding: 0 30px;
    background-color: transparent;
    border: 1px solid red;
    font-weight: 600; color: #a03232;
}

button.btn {
    width: 60px; height: 60px;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}
.wrap-welcome button.btn {color: #000;}
.wrap-services button.btn {color: #fff;}
button.btn:hover {opacity: .6;}

a.btn-global {
    display: inline-block;
    margin: 10px 0; padding: 15px 30px;
    border-radius: 6px;
    text-decoration: none;
}
.wrap > section:not(.wrap-revievs) a.btn-global {background-color: #181818; color: #fff;}
.wrap > .wrap-revievs + .wrap-welcome a.btn-global {background-color: #fff; color: #181818;}
a.btn-global:hover {opacity: .6;}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover {}

input[type=submit]:active, input[type=button]:active, input[type=reset]:active, button:active {}

input[type=text], input[type=email], input[type=url], input[type=password], textarea, select {
    background: #404040;
    border: none;
    font-size: 100%; color: #f4f4f4;
}

input[type=text], input[type=email], input[type=url], input[type=password], select {
    display: inline-block;
    margin: 5px;
}

textarea {
    display: block;
    width: 90%;
    margin: 5px 5%;
}

input[type=text], input[type=email], input[type=url], input[type=password], textarea, select {padding: 10px 15px;}

textarea {
    min-height: 150px;
    resize: vertical;
}

textarea:hover, textarea:focus {}

select {
    background: url(../img/select-arrow.png) right center no-repeat #404040;
    text-indent: 0.01px; text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}
select::-ms-expand {display: none;}

option {
    background-color: #404040;
    color: #f4f4f4;
}

/* Стилизация скроллбара
 */
*, html * {
    scrollbar-color: #1e1e20 white;
    scrollbar-width: thin;
}

*::-webkit-scrollbar, html *::-webkit-scrollbar {width: 12px; height: 12px;}

*::-webkit-scrollbar-track, html *::-webkit-scrollbar-track {background: white;}

*::-webkit-scrollbar-thumb, html *::-webkit-scrollbar-thumb {
    background-color: #1e1e20;
    border-radius: 0;
    border: 3px solid white;
}

/* Выделение
 */
::selection {
    background-color: #962715;
    color: #eee;
}
::-moz-selection {
    background: none repeat scroll 0 0 #962715;
    color: #eee;
}
::selection {
    background: none repeat scroll 0 0 #962715;
    color: #eee;
}

/* base class
 */
.p_relative {position: relative;}
.p_absolute {position: absolute;}
.p_fixed {position: fixed;}

.hide {display: none;}
.show {display: block !important;}

.fl {float: left;}
.fr {float: right;}

.base_width {width: 100%;}

@media all and (min-width: 1100px) {
    .media_base_width {width: 1100px; max-width: 1100px;}
}

@media all and (max-width: 1100px) {
    .media_base_width {width: 99vw; max-width: 99vw;}
}

.max {width: 50%;}
.maxer {width: 70%;}
.min {width: 25%;}
.miner {width: 30%;}

.base_height {height: 100%;}

.tr {top: 0; right: 0;}
.tl {top: 0; left: 0;}
.bl {bottom: 0; left: 0;}

.center {margin: 0 auto;}

.cover {
    -webkit-background-size: 102% auto;
    -moz-background-size: cover;
    -o-background-size: 102% auto;
    -khtml-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.castration {overflow: hidden;}
.humane_castration {clear: both;}

.t_left {text-align: left;}
.t_center {text-align: center;}
.t_right {text-align: right;}

/* Фильтры
 */
.black_and_white {
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    filter: grayscale(70%);
}
.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.brightness {
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    filter: brightness(50%);
}

/* Контейнеры и пр.
==============================
 * Cover
 */
.cover-table {
    z-index: 1;
    display: table;
    height: 80vh;
    border-bottom: 1px solid #181818;
    font-family: 'Poiret One', cursive; color: #fff;
}

.cover-tb {
    position: inherit;
    display: table-cell;
    left: 50%; transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .2);
    vertical-align: middle;
}

.cover-cont {
    z-index: 1;
    padding: 4vw;
}

.cover-cont > * {opacity: 1;}

.cover-cont h1 {text-transform: uppercase; font-weight: 400;}

.cover-ava {
    display: inline-block;
    width: 120px; height: 120px;
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* Лого
 */
.hat {
    z-index: 2;
    position: fixed;
    width: 100px; height: 40px;
    bottom: 0;
    left: 50%; transform: translateX(-50px);
    cursor: pointer;
}

.hat > a {display: none;}

.hat-container {width: 80px; height: 40px;}

.hat-container a {color: #fff;}

.hat-container > a > span {
    height: 1px;
    left: 0;
    background-color: #fff;
}
.p_one {
    transform: rotate(10deg);
}
.p_two {
    top: 15px;
    transform: rotate(-10deg);
}
.p_three {
    top: 30px;
    transform: rotate(10deg);
}

.hat-container-decor-left, .hat-container-decor-right {
    display: block;
    bottom: 0;
    border-width: 40px; border-style: solid; border-color: transparent;
    border-bottom-color: #181818;
}
.hat-container-decor-left {
    left: -40px;
    border-right-color: #181818;
}
.hat-container-decor-right {
    right: -40px;
    border-left-color: #181818;
}

/* Подложка
 */
.overlay {
    z-index: 3;
    background-color: rgba(255, 255, 255, .7);
}

/* Меню
 */
.main-menu {
    z-index: 3;
    min-width: 200vh;
    top: 0; left: 50%;
    transform: translateX(-100vh);
}

.menu-close {
    z-index: 9;
    width: 50px; height: 50px;
    right: 90%; bottom: 90%;
}
.menu-close:before {
    display: inline-block;
    transform: rotate(-45deg);
    text-align: center; font-family: "FontAwesome"; font-size: 7vh; content: '\f00d'; color: #fff;
    cursor: pointer;
}
.menu-close:hover {opacity: .6;}

.main-menu-back {
    bottom: 0; left: 0;
    border: 100vh solid transparent; border-bottom: 100vh solid rgba(0, 0, 0, .9);
}

.main-menu-cont {
    width: 100vh; height: 100vh;
    margin: 21vh auto;
    transform: rotate(45deg);
}

nav {
    width: 80%; height: 80%;
    transform: rotate(-45deg);
    overflow-y: scroll;
    font-family: 'Poiret One', cursive; font-size: 9vh;
}
nav:after {
    position: absolute;
    z-index: 1;
    width: 100%; height: 100%;
    top: 0; left: 0;
    box-shadow: -20px -20px 20px #000 inset;
    pointer-events: none;
}

nav li {
    display: block;
    height: 20%;
    padding-top: 20px;
}
nav li.fl {padding-right: 20px;}
nav li.fr {padding-left: 20px;}

nav a {
    display: inline-block;
    color: #fff; text-decoration: none;
}
nav a:hover {opacity: .6;}

/* Контейнеры
 */
.wrap {
    z-index: 1;
    height: auto;
    top: -50px; margin: 0 0 200px;
    background-color: #fff;
    box-shadow: 0 24px 72px -23px rgba(0, 0, 0, 0.4);
}

.wrap h4 {z-index: 1;}
.wrap h4 span {padding: 0 10px;}
.wrap h4.border-black span, .wrap h4.border-white:after {background-color: #fff;}
.wrap h4.border-white span, .wrap h4.border-black:after {background-color: #1a1718;}
.wrap h4:after {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%; height: 1px;
    top: calc(50% + 2px); left: 0;
    content: '';
}

.wrap-welcome {padding-right: 10%; padding-left: 10%;}

.wrap-welcome, .wrap-revievs {color: #000;}

.wrap > .wrap-welcome:first-child {padding-top: 100px;}

.wrap-welcome p {margin: 22px 10% 0;}

.wrap > .wrap-revievs + .wrap-welcome, .wrap-services {
    background-color: #1a1718;
    color: #fff;
}

.wrap > .wrap-revievs + .wrap-welcome {
    margin-top: 30px;
    padding-top: 50px; padding-bottom: 20px;
}

.wrap > .wrap-revievs + .wrap-welcome h3, .wrap-doc h3 {padding-bottom: 20px;}

.wrap-revievs, .wrap-services, .wrap-doc {font-family: 'Open Sans Condensed', sans-serif;}

.wrap-services, .wrap-doc {padding-bottom: 50px;}

.wrap-revievs p {margin: 44px 20% 11px;}

.wrap-welcome p, .wrap-revievs p {font-size: 140%; font-family: 'Poiret One', cursive; font-weight: normal; text-shadow: 0px 1px 0 rgb(0, 0, 0);}

.wrap-revievs .fl, .wrap-revievs .fr {
    height: 50vh;
    border-radius: 20px;
}

.wrap-doc {padding-top: 50px;}

/* Scroller
 */
.testimonials {padding: 15px;}

.scroller {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.item {
    min-width: 100%; min-height: 200px;
    scroll-snap-align: center;
    margin-bottom: 10px; padding: 0 50px;
}

.testimonials .btn {
    z-index: 1;
    width: 30px; height: 30px;
    top: 50%; margin-top: -30px;
    background-color: rgba(95, 106, 117, 0.3);
    border-radius: 15px;
    line-height: 30px; font-weight: bold; color: white;
}
.testimonials .btn:hover {
    background-color: rgba(95, 106, 117, 0.5);
    cursor: pointer;
}
.testimonials .btn.next {right: 15px;}
.testimonials .btn.prev {left: 15px;}

@media screen и (max-width: 480px) {
    .item {padding: 0 30px;}
}

iframe {
    height: 50vh;
    border-radius: 12px;
}

/* Scroller 2
 */
.slider{position:relative;overflow:hidden;max-width:600px;margin-left:auto;margin-right:auto}
.slider__wrapper{position:relative;overflow:hidden;background-color:#fff}
.slider__items{display:flex;transition:transform .5s ease}
.transition-none{transition:none}
.slider__item{flex:0 0 100%;max-width:100%;position:relative}
.slider__item img{z-index: 2;height: 70vh;}
.slider__control{position:absolute;top:50%;width:40px;height:50px;transform:translateY(-50%);display:none;align-items:center;justify-content:center;color:#fff;background:rgba(0,0,0,.3);opacity:.5;user-select:none}
.slider__control_show{display:flex}
.slider__control:focus,.slider__control:hover{color:#fff;text-decoration:none;opacity:.7}
.slider__control_prev{left:0}.slider__control_next{right:0}
.slider__control::before{content:'';display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}
.slider__control_prev::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}
.slider__control_next::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}
.slider__indicators{position:absolute;left:0;right:0;bottom:10px;display:flex;justify-content:center;padding-left:0;margin:0 15%;list-style:none;user-select:none}
.slider__indicator{flex:0 1 auto;width:30px;height:4px;margin-right:3px;margin-left:3px;background-color:rgba(255,255,255,.5);background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;cursor:pointer}
.slider__indicator_active{background-color:#fff}

/* Tabs
 */
.tabs__content {display: none;}

.tabs__content.active {display: block;}

.tabs__caption li {
    display: block;
    padding: 15px 0;
    font-size: 200%;
    text-transform: uppercase; font-family: 'Poiret One', cursive; font-weight: normal; text-shadow: 0px 1px 0 rgb(0, 0, 0);
    cursor: pointer;
}

.tabs__caption li.active {color: #b22;}

.tabs__caption li:first-child {padding-right: 15px;}
.tabs__caption li:last-child {padding-left: 15px;}

/* Tabl
 */
.bordered {
    margin: 10px 0px;
    background: transparent;
    border-bottom: 1px solid #333;
    font-size: 150%; line-height: 150%;
}

.bordered th {
    border-top: none;
    font-weight: bold; color: #ccc;
}

.bordered th:first-child, .bordered td:first-child {border-left: none;}

.bordered tr:hover {
    background: #2b2b2b;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered th, .bordered td {
    padding: 10px 35px;
    border-left: 1px solid #4a4a4a;
}

.bordered td {
    border-top: 1px solid #4a4a4a;
    color: #eee;
}

/* Подвал
 */
.shoes {
    height: 200px;
    border-top: 1px solid #120e0f;
    font-family: 'Poiret One', cursive; color: #fff;
}

.shoes > div {padding: 15px;}