@import url('font-awesome.css?v=4.0');

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/Awesome/fontawesome-webfont.eot?v=4.3.0');
    src: 
        url('../font/Awesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
        url('../font/Awesome/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
        url('../font/Awesome/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
        url('../font/Awesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
        url('../font/Awesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-style: normal; font-weight: normal;
}

/* base elements
 */
*:hover, a {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

body {
  min-width: 320px; width: 100%;
  background-color: #120e0f;
  overflow-x: hidden; overflow-y: auto;
  font-size: 16px; font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.contact {background: #f4f4f4;}

a {
    margin: 0; padding: 0;
    font-size: 100%; text-decoration: underline;
    outline: 0;
}
a:hover, a:active {text-decoration: none;}

h1, h2, h3, h4, h5, h6 {
    margin: 7px 0;
    text-rendering: optimizeLegibility; font-family: 'Poiret One', cursive;
}

h2, .wrap-doc h3 {text-transform: uppercase;}
.wrap > section:not(.wrap-services):not(.wrap-doc):not(.blog) h3 {padding-bottom: 20px;}
.wrap > section.wrap-services > h3 {padding-top: 50px;}
.wrap > section:not(.wrap-doc) > h3 {font-size: 300%;}
.wrap-doc h3 {font-size: 250%; font-weight: 600;}
h4 {font-size: 150%; text-transform: lowercase;}

p {
    margin: 11px 0;
    font-size: 150%; line-height: 150%;
}

img {max-width: 100%;}

iframe {
    height: 50vh;
    border-radius: 12px;
}

button.btn {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
}
.wrap-welcome button.btn {color: #000;}
.wrap-services button.btn {color: #fff;}
button.btn:hover {opacity: .6;}

.btn-global {
    z-index: 9;
    top: 5px; left: 0;
    padding: 15px 30px;
    border-radius: 6px;
    font-size: 300%;
}
.btn-global a {text-decoration: none;}
.fa-whatsapp {color: green;}
.fa-envelope-o {color: #dc3545;}

@media all and (max-width: 900px) {
    .btn-global {top: 0;}
    .btn-global a {display: block;}
}

/* Стилизация скроллбара
 */
*, html * {
    scrollbar-color: #1e1e20 white;
    scrollbar-width: thin;
}

*::-webkit-scrollbar, html *::-webkit-scrollbar {width: 12px; height: 12px;}

*::-webkit-scrollbar-track, html *::-webkit-scrollbar-track {background: white;}

*::-webkit-scrollbar-thumb, html *::-webkit-scrollbar-thumb {
    background-color: #1e1e20;
    border-radius: 0;
    border: 3px solid white;
}

/* Выделение
 */
::selection {
    background-color: #962715;
    color: #eee;
}
::-moz-selection {
    background: none repeat scroll 0 0 #962715;
    color: #eee;
}
::selection {
    background: none repeat scroll 0 0 #962715;
    color: #eee;
}

/* base class
 */
.p_relative {position: relative;}
.p_absolute {position: absolute;}
.p_fixed {position: fixed;}

.hide {display: none;}
.show {display: block !important;}

.fl {float: left;}
.fr {float: right;}

.base_width {width: 100%;}

@media all and (min-width: 1100px) {
    .media_base_width {width: 1100px; max-width: 1100px;}
}

@media all and (max-width: 1100px) {
    .media_base_width {width: 99vw; max-width: 99vw;}
}

.max {width: 50%;}
.maxer {width: 70%;}
.min {width: 25%;}
.miner {width: 32%;}

.base_height {height: 100%;}

.tr {top: 0; right: 0;}
.tl {top: 0; left: 0;}
.bl {bottom: 0; left: 0;}

.center {margin: 0 auto;}

.cover {
    -webkit-background-size: 102% auto;
    -moz-background-size: cover;
    -o-background-size: 102% auto;
    -khtml-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.castration {overflow: hidden;}
.humane_castration {clear: both;}

.t_left {text-align: left;}
.t_center {text-align: center;}
.t_right {text-align: right;}

/* Фильтры
 */
.black_and_white {
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    filter: grayscale(70%);
}
.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.brightness {
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    filter: brightness(50%);
}

/* Контейнеры и пр.
==============================
 * Cover
 */
.cover-table {
    z-index: 1;
    display: table;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #181818;
    font-family: 'Poiret One', cursive; color: #fff;
}

.cover-tb {
    position: inherit;
    display: table-cell;
    left: 50%; transform: translateX(-50%);
    vertical-align: middle;
}

.cover-cont {padding: 4vw;}

.cover-cont > * {opacity: 1;}

.cover-cont h1 {text-transform: uppercase; font-weight: 400;}

.cover-ava {
    display: inline-block;
    width: 160px; height: 120px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    filter: drop-shadow(0 0 5px #000);
    background-image: url(../img/cover.jpg);
    background-size: 130%;
    background-position: -40px calc(50% + 30px);
    background-repeat: no-repeat;
}

/* Лого
 */
.hat {
    z-index: 2;
    position: fixed;
    width: 100px; height: 40px;
    bottom: 0;
    left: 50%; transform: translateX(-50px);
    cursor: pointer;
}

.hat-container {width: 80px; height: 40px;}

.hat-container a {color: #fff;}

.hat-container > a:after {
    position: absolute;
    width: 1px; height: 80px;
    background-color: #fff;
    bottom: 0; left: 50%;
    content: '';
}

.hat-container > a > span {
    width: 170px; height: 1px;
    left: -35px;
    background-color: #fff;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.p_one, .p_two, .p_three {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.p_one, .p_three {transform: rotate(-6deg);}

.p_one {
    top: -10px;
    -webkit-animation: p_one .3s linear infinite alternate;
    -moz-animation: p_one .3s linear infinite alternate;
    -o-animation: p_one .3s linear infinite alternate;
    -ms-animation: p_one .3s linear infinite alternate;
    animation: p_one .3s linear infinite alternate;
}
@-webkit-keyframes p_one {
    0% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}
@-moz-keyframes p_one {
    0% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}
@keyframes p_one {
    0% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}

.p_two {
    top: 8px; transform: rotate(6deg);
    -webkit-animation: p_two .3s linear infinite alternate;
    -moz-animation: p_two .3s linear infinite alternate;
    -o-animation: p_two .3s linear infinite alternate;
    -ms-animation: p_two .3s linear infinite alternate;
    animation: p_two .3s linear infinite alternate;
}
@-webkit-keyframes p_two {
    0% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(-6deg);
    }
}
@-moz-keyframes p_two {
    0% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(-6deg);
    }
}
@keyframes p_two {
    0% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(-6deg);
    }
}

.p_three {
    top: 26px;
    -webkit-animation: p_three .3s linear infinite alternate;
    -moz-animation: p_three .3s linear infinite alternate;
    -o-animation: p_three .3s linear infinite alternate;
    -ms-animation: p_three .3s linear infinite alternate;
    animation: p_three .3s linear infinite alternate;
}
@-webkit-keyframes p_three {
    0% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}
@-moz-keyframes p_three {
    0% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}
@keyframes p_three {
    0% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(6deg);
    }
}

.hat-container:hover span {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.hat-container-decor-left, .hat-container-decor-right {
    display: block;
    bottom: 0;
    border-width: 40px; border-style: solid; border-color: transparent;
    border-bottom-color: #181818;
}
.hat-container-decor-left {
    left: -40px;
    border-right-color: #181818;
}
.hat-container-decor-right {
    right: -40px;
    border-left-color: #181818;
}

/* Подложка
 */
.overlay {
    z-index: 3;
    background-color: rgba(255, 255, 255, .7);
}

/* Меню
 */
.main-menu {
    z-index: 3;
    min-width: 200vh;
    top: 0; left: 50%;
    transform: translateX(-100vh);
}

.menu-close {
    z-index: 9;
    width: 50px; height: 50px;
    right: 90%; bottom: 90%;
}
.menu-close:before {
    display: inline-block;
    transform: rotate(-45deg);
    margin-left: 5px;
    text-align: center; font-size: 7vh; line-height: normal; content: '\2573'; color: #fff;
    cursor: pointer;
}
.menu-close:hover {opacity: .6;}

.main-menu-back {
    bottom: 0; left: 0;
    border: 100vh solid transparent; border-bottom: 100vh solid rgba(0, 0, 0, .9);
}

.main-menu-cont {
    width: 100vh; height: 100vh;
    margin: 21vh auto;
    transform: rotate(45deg);
}

nav {
    width: 80%; height: 80%;
    transform: rotate(-45deg);
    overflow-y: auto;
    font-family: 'Poiret One', cursive; font-size: 6vh;
}
nav:after {
    position: absolute;
    z-index: 1;
    width: 100%; height: 100%;
    top: 0; left: 0;
    box-shadow: -20px -20px 20px #000 inset;
    pointer-events: none;
}

nav ul {padding-left: 0;}

nav li {
    display: block;
    height: 20%;
    padding-top: 20px;
}

nav a {
    display: inline-block;
    color: #fff; text-decoration: none;
}
nav a:hover {
    opacity: .6;
    color: #b22;
}

/* Контейнеры
 */
.wrap {
    z-index: 1;
    height: auto;
    top: -50px; margin: 0 0 280px;
    background-color: #fff;
    box-shadow: 0 24px 72px -23px rgba(0, 0, 0, 0.4);
}

.wrap h4 {z-index: 1;}
.wrap h4 span {padding: 0 10px;}
.wrap h4.border-black span, .wrap h4.border-white:after {background-color: #fff;}
.wrap h4.border-white span, .wrap h4.border-black:after {background-color: #1a1718;}
.wrap h4:after {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%; height: 1px;
    top: calc(50% + 2px); left: 0;
    content: '';
}

.wrap-welcome {padding-right: 10%; padding-left: 10%;}

.wrap-revievs {color: #000;}

.wrap > .wrap-welcome:first-child {padding-top: 100px;}

.wrap-welcome p {margin: 22px 10% 0;}

.wrap > .wrap-revievs + .wrap-welcome, .wrap-services {
    background-color: #1a1718;
    color: #fff;
}

.wrap > .wrap-revievs + .wrap-welcome h3, .wrap-doc h3 {padding-bottom: 20px;}

.wrap-welcome, .wrap-services, .wrap-doc, .wrap-revievs {font-family: 'Open Sans Condensed', sans-serif;}

.wrap-services, .wrap-doc {padding-top: 50px; padding-bottom: 50px;}

.wrap-services, #carouselExampleIndicators2 {margin-top: 30px;}

.wrap-revievs p {margin: 44px 20% 11px;}

.wrap-revievs .fl, .wrap-revievs .fr {
    height: 50vh;
    border-radius: 20px;
}

/* Blog
 */
.blog {padding-top: 100px; padding-bottom: 100px;}

.blog-post {padding-right: 15px; padding-left: 15px;}
.blog-post p {font-size: 110%;}

/* Tabl
 */
.bordered {
    margin: 10px 0px;
    background: transparent;
    border-bottom: 1px solid #333;
    font-size: 150%; line-height: 150%;
}

.bordered th {
    border-top: none;
    font-weight: bold; color: #ccc;
}

.bordered th:first-child, .bordered td:first-child {border-left: none;}

.bordered tr:hover {
    background: #2b2b2b;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered th, .bordered td {
    padding: 10px 35px;
    border-left: 1px solid #4a4a4a;
}

.bordered td {
    border-top: 1px solid #4a4a4a;
    color: #eee;
}

/* Подвал
 */
.shoes {
    height: 280px;
    padding-bottom: 80px;
    border-top: 1px solid #120e0f;
    font-family: 'Poiret One', cursive; color: #fff;
}

.shoes > div {padding: 15px;}

.shoes a {color: #eee;}

/* Cookie
 */
.cookie-disclaimer {
    z-index: 999;
    position: fixed;
    bottom: 80px;
    left: 50%; transform: translateX(-50%);
    font-size: 70%;
}

.cookie-disclaimer a {color: #000;}